<h1>sonimasaのSample App</h1>

<p>Hi <%= @user.name %>,</p>

<p>
sonimasaのSample Appへようこそ! あなたのアカウントを有効化するために下のURLをクリック
してください:  
</p>

<%= link_to "Activate", edit_account_activation_url(@user.activation_token,
                              email: @user.email) %>
